.qsys_edit/
atom_netlists/
db/
greybox_tmp/
hps_isw_handoff/
incremental_db/
output_files/
presets/
qsys/
simulation/
temp/

c5_pin_model_dump.txt
cr_ie_info.json
new_rtl_netlist
old_rtl_netlist

*.qdf
*.tcl~
*.rpt
*.out.sdc
*.xml
*.sopcinfo

stp/
